{
    "arrowParens": "always",
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "printWidth": 80,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "experimentalTernaries": true,
    "quoteProps": "consistent",
    "objectWrap": "preserve"
}
