:root {
    --flying-distance: 200px;
}

.fly-in-card {
    transition:
        translate 0.5s,
        opacity 0.8s;
    opacity: 0;
}

.fly-in-card.fly-from-top {
    translate: 0 calc(var(--flying-distance) * -1);
}

.fly-in-card.fly-from-bottom {
    translate: 0 calc(var(--flying-distance));
}

.fly-in-card.fly-from-left {
    translate: calc(var(--flying-distance) * -1) 0;
}

.fly-in-card.fly-from-right {
    translate: calc(var(--flying-distance)) 0;
}

.fly-in-card.active {
    translate: 0 0;
    opacity: 1;
}

.scale-in-card {
    transition:
        scale 0.5s ease-in,
        opacity 0.8s;
    scale: 0.4;
    opacity: 0;
}

.scale-in-card.active {
    scale: 1;
    opacity: 1;
}

.fade-in-card {
    transition: opacity 0.8s;
    opacity: 0;
}

.fade-in-card.active {
    opacity: 1;
}
